@import "../../../../app.component.scss";

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
  column-gap: 2rem;

  height: 10rem;
  padding: 1.2rem;
  border: 0.3rem rgb(49, 190, 84) solid;
  box-shadow: 0 0.26rem 0.3rem 0.05rem rgb(187, 186, 186, 0.6);
}

.title {
  @include base-text();

  font-weight: 600;
  font-size: 1.35rem;
  margin-bottom: 0.8rem;
}

.description {
  @include base-text();
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  row-gap: 0.5rem;
}

.info {
  display: grid;
  row-gap: 0.36rem;
}
