@import "../../../app.component.scss";

button {
  @include base-text();

  display: block;
  padding: 0.17rem 0.3rem;
  transition: 0.2s;
  margin: 0 auto;
  height: 100%;

  &:hover {
    background-color: rgb(158, 157, 157);
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
    color: #fff;
    outline: none;
    cursor: pointer;
  }

  &:active {
    background-color: rgb(212, 211, 211);
    transform: scale(0.94);
  }

  &:focus {
    background-color: rgb(158, 157, 157);
    color: #fff;
  }
}
