<ul class="container">
  <app-course-card
    class="course-card"
    *ngFor="let course of courses; trackBy: trackByCardTitle"
    [card]="course"
  >
    <div class="buttons">
      <button my-button (click)="onShow()" text="Show course"></button>
      <ng-container *ngIf="isCoursesEditable">
        <button my-button (click)="onEdit()" iconName="pen"></button>
        <button my-button (click)="onRemove()" iconName="trash"></button>
      </ng-container>
    </div>
  </app-course-card>
</ul>

<app-modal-window
  #windowModal
  *ngIf="showModalWindow"
  [title]="'Remove'"
  [message]="'Are you sure that you want to remove this item ?'"
  (do)="onDo($event)"
></app-modal-window>
