@import "../../../app.component.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include base-title();

  padding: 1.2rem 0;
}

.text-content {
  @include base-text();

  margin-bottom: 2rem;
}
